<%= form_with(model: perpetrator, local: true) do |form| %>
  <% if perpetrator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perpetrator.errors.count, "error") %> prohibited this perpetrator from being saved:</h2>

      <ul>
      <% perpetrator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aggression_detail_id %>
    <%= form.text_field :aggression_detail_id %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :relationship %>
    <%= form.text_field :relationship %>
  </div>

  <div class="field">
    <%= form.label :live_together %>
    <%= form.check_box :live_together %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
