<p id="notice"><%= notice %></p>

<h1>Perpetrators</h1>

<table>
  <thead>
    <tr>
      <th>Aggression detail</th>
      <th>Age</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Relationship</th>
      <th>Live together</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perpetrators.each do |perpetrator| %>
      <tr>
        <td><%= perpetrator.aggression_detail %></td>
        <td><%= perpetrator.age %></td>
        <td><%= perpetrator.name %></td>
        <td><%= perpetrator.gender %></td>
        <td><%= perpetrator.relationship %></td>
        <td><%= perpetrator.live_together %></td>
        <td><%= link_to 'Show', perpetrator %></td>
        <td><%= link_to 'Edit', edit_perpetrator_path(perpetrator) %></td>
        <td><%= link_to 'Destroy', perpetrator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perpetrator', new_perpetrator_path %>
