<p id="notice"><%= notice %></p>

<h1>Attention Centers</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Phone number</th>
      <th>Picture</th>
      <th>Schedule</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attention_centers.each do |attention_center| %>
      <tr>
        <td><%= attention_center.code %></td>
        <td><%= attention_center.name %></td>
        <td><%= attention_center.latitude %></td>
        <td><%= attention_center.longitude %></td>
        <td><%= attention_center.phone_number %></td>
        <td><%= attention_center.picture %></td>
        <td><%= attention_center.schedule %></td>
        <td><%= attention_center.address %></td>
        <td><%= link_to 'Show', attention_center %></td>
        <td><%= link_to 'Edit', edit_attention_center_path(attention_center) %></td>
        <td><%= link_to 'Destroy', attention_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attention Center', new_attention_center_path %>
