<p id="notice"><%= notice %></p>

<h1>Victims</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Password</th>
      <th>Phone number</th>
      <th>Document type</th>
      <th>Document number</th>
      <th>Attendant name</th>
      <th>Attendant phone number</th>
      <th>Sexual orientation</th>
      <th>District</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @victims.each do |victim| %>
      <tr>
        <td><%= victim.name %></td>
        <td><%= victim.surname %></td>
        <td><%= victim.email %></td>
        <td><%= victim.password %></td>
        <td><%= victim.phone_number %></td>
        <td><%= victim.document_type %></td>
        <td><%= victim.document_number %></td>
        <td><%= victim.attendant_name %></td>
        <td><%= victim.attendant_phone_number %></td>
        <td><%= victim.sexual_orientation %></td>
        <td><%= victim.district %></td>
        <td><%= victim.picture %></td>
        <td><%= link_to 'Show', victim %></td>
        <td><%= link_to 'Edit', edit_victim_path(victim) %></td>
        <td><%= link_to 'Destroy', victim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Victim', new_victim_path %>
