<h1>Detalle de la agresión</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @aggression_detail.user %>
</p>

<p>
  <strong>Perpetrator name:</strong>
  <%= @aggression_detail.perpetrator_name %>
</p>

<p>
  <strong>Perpetrator age:</strong>
  <%= @aggression_detail.perpetrator_age %>
</p>

<p>
  <strong>Perpetrator gender:</strong>
  <%= @aggression_detail.perpetrator_gender %>
</p>

<p>
  <strong>Relatioship:</strong>
  <%= @aggression_detail.relatioship %>
</p>

<p>
  <strong>Live together:</strong>
  <%= @aggression_detail.live_together %>
</p>

<p>
  <strong>Aggression date:</strong>
  <%= @aggression_detail.aggression_date %>
</p>

<p>
  <strong>Aggression time:</strong>
  <%= @aggression_detail.aggression_time %>
</p>

<p>
  <strong>Mechanism:</strong>
  <%= @aggression_detail.mechanism %>
</p>

<p>
  <strong>Scene:</strong>
  <%= @aggression_detail.scene %>
</p>

<p>
  <strong>Proof file:</strong>
  <%= @aggression_detail.proof_file %>
</p>

<p>
  <strong>Latitude report:</strong>
  <%= @aggression_detail.latitude_report %>
</p>

<p>
  <strong>Longitude report:</strong>
  <%= @aggression_detail.longitude_report %>
</p>

<%= link_to 'Edit', edit_aggression_detail_path(@aggression_detail) %> |
<%= link_to 'Back', aggression_details_path %>
