<p id="notice"><%= notice %></p>

<p>
  <strong>Attention center:</strong>
  <%= @institution.attention_center %>
</p>

<p>
  <strong>Institution type:</strong>
  <%= @institution.institution_type %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
