<h1>AdminPages#dashboard</h1>
<p>Find me in app/views/admin_pages/dashboard.html.erb</p>

<h1>Consulta</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Localidad</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Lugar</th>
      <th>Mecanismo de agresión</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @details.each do |get_details| %>
      <tr>
        <td><%= get_details.name %></td>
        <td><%= get_details.surname %></td>
        <td><%= get_details.district %></td>
        <td><%= get_details.aggression_date %></td>
        <td><%= get_details.aggression_time %></td>
        <td><%= get_details.scene %></td>
        <td><%= get_details.mechanism %></td>
        <td><%= get_details.id %></td>
        <td><%= link_to 'Ver', aggression_detail_path(get_details.id) %></td>
        
     
        
      </tr>
    <% end %>
  </tbody>
</table>